/.phpcs-cache
/.phpunit.cache
/.psalm-cache
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
node_modules/
/module/Application/src/LogCronJob/cron_gerar_os.log
/data/planejamento-controle-producao/equipamento/
