RewriteEngine On

# Garante que se o arquivo ou diretório existir, ele será servido diretamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redireciona todas as requisições para index.php
RewriteRule ^(.*)$ index.php [QSA,L]

